<div id="<%= dom_id user %>">
  <p>
    <strong>Tenant:</strong>
    <%= user.tenant_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= user.uid %>
  </p>

  <p>
    <strong>Workflow state:</strong>
    <%= user.workflow_state %>
  </p>

</div>
