<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users",show_tenant_users_path(tenant: @tenant.name) %>
  <%= button_to "Destroy this user",show_tenant_user_path(tenant: @tenant.name,id:@user.id), method: :delete %>
</div>
